<ng-container *ngIf="loaded">
  <ul *ngIf="lessons.length > 0; else lessonsPlaceholder"
      class="nav nav-tabs">
    <li *ngFor="let lesson of lessons"
        class="nav-item">
      <a class="nav-link wbdv"
         [ngClass]="{'active': lesson.id == lessonId}"
         routerLink="/course/{{courseId}}/module/{{moduleId}}/lesson/{{lesson.id}}">
        {{lesson.title}}
      </a>
    </li>
  </ul>

  <ng-template #lessonsPlaceholder>
    <h3 class="text-center">
      {{moduleId ? 'No lessons were found for this module.' : 'Please select a module from the list on the left.'}}
    </h3>
  </ng-template>
</ng-container>
